@charset "UTF-8";

  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

  body{ 
    margin: 0px;
    font-family: 'Noto Sans', sans-serif;
  }
  body *{
    box-sizing: border-box;
  }

 
.main-login {
    width: 100vw;
    height: 100vh;
    background-color: rgb(1, 66, 66); 
    display: flex;
    justify-content: center;
    align-items: center; 

}
.left-login{ 
    margin-bottom: 8%;
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.left-login >h1 {
    width: 29vw;
    font-size: 3vw;
    color: white;
}
.right-login{ 
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.card-login{ 
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px ;
    background: rgb(84, 165, 127);
    border-radius: 20px;
    box-shadow: 0px 10px 40px black;
}
.card-login h1 { 
    color: rgb(0, 26, 6);
    font-weight: 800;
    margin: 0px

}
.imggpt{
    width:20vw;
}
.text-field{ 
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items:flex-start ;
    justify-content: center;
    margin: 10px 0px;
}
.text-field >input { 
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: rgb(202, 226, 207);
    font-size: 12pt;
    box-shadow: 0px 3px 10px black;
    outline: none;
    box-sizing: border-box;
}
.text-field > label{
    color: beige;
    margin-bottom: 10px;
}
.text-field > input ::placeholder{
color: rgb(2, 26, 26);


}


.btn-login > a {
    text-decoration: none;
    font-size: 20px;
    color: white;

    
} 
.btn-login { 
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: rgb(246, 248, 247);
    background: rgb(1, 66, 66);
    cursor: pointer;
    box-shadow: 0px 2px 20px -12px rgba(15, 15, 15, 0.507);

    
}
.btn-login:hover{
    background-color: aquamarine;
    color: rgb(0, 20, 20);
}







 @media (max-width:950px){
    .card-login{
        width: 85%;
        }   
 }

 @media (max-width:600px){
    .main-login{ 
        flex-direction: column;
    }   
    .left-login >h1{
        display: none;
    }
    .left-login{
        width: 100%;
        height: auto;
    }
    .right-login{
        width: 100%;
        height: auto;
    }
 .card-login{
    width: 90%;
 }
 }
